<p-toast></p-toast>
<div class="admin-page" *ngIf="order">
  <p-card [header]="'View Order'" subheader="You can edit order status here">
    <p-fieldset legend="Order Details" styleClass="p-mb-4" [toggleable]="true">
      <div class="p-grid">
        <div class="p-col-4">
          <h5>Order Id</h5>
          <p>{{order.id}}</p>
        </div>
        <div class="p-col-4">
          <h5>Order date</h5>
          <p>{{order.dateOrdered | date: 'short'}}</p>
        </div>
        <div class="p-col-4">
          <h5>Order Status</h5>
          <p-dropdown>

          </p-dropdown>
        </div>
        <div class="p-col-4">
          <h5>Order Total price</h5>
          <p>{{order.totalPrice | currency: 'BRL'}}</p>
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="Order Items" styleClass="p-mb-4" [toggleable]="true">
      Content
    </p-fieldset>
    <p-fieldset legend="Order Address" styleClass="p-mb-4" [toggleable]="true">
      Content
    </p-fieldset>
  </p-card>
</div>
