header {
  padding-top: 20px;
  margin-bottom: 25px;
  .logo {
    img {
      width: 160px;
    }
  }
  .navigation {
    text-align: end;
  }

  .tools {
    text-align: end;
    .pi {
      margin-right: 15px;
      cursor: pointer;
    }
  }
}
